/* TITULOS */
@import url(https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Caveat&family=Lobster+Two&family=Macondo&family=Monoton&family=Roboto+Slab&family=Rubik+Iso&family=Tilt+Warp&display=swap);

:root{
    --barra-largo: 0%;
}

html, body { 
    scroll-behavior: smooth
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
#load{
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: #ffffffcc;
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: center;

}
#loader img{
    width: 30vw;
    height: auto;
    
}
.aviso{
    display: none;
}

body{
    text-align: center;
    display: flex;
    overflow: hidden;
}
.menu{
    text-align: center;
    background-color:#D5671D;
    width: 100vw;
    transition: 0.5s all;
}
.botoncito{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Tilt Warp', cursive;
    transition: 0.5s all;
    background-color:#D5671D;
    padding: 20px;
    border-radius: 30px;
    margin-top: 100px;
    writing-mode: horizontal-tb;
}
.botoncito:hover{
    background-color:#36A9E1;
        border-radius: 30px;
}
.videito{
    width: 80%;
    height: 80%
}

header{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    transition: 0.5s all;
    z-index: 100;
}
.nav-bar{
    background-color: #D5671D;
    width: 100%;
    display: block;
    transition: 0.5s all;
    display: none;
}
.nav-bar:hover{
    background-color: black;

    cursor: pointer;
}
.nav-bar:hover > span{
    color: #36A9E1;
}
/* Ã­cono de menÃº chiquito */
.ham{
    width: 25px;
    height: auto;
    padding: 10px 0px;
}
/* Fin del Ã­cono de menÃº chiquito */
header nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Tilt Warp', cursive;
    padding: 10px;
    height: 100%;
    margin-left: 45px;
    transition: 0.5s all;
    position: relative;
    opacity: 0.5;
}

header nav a:hover{
    transform: translate(0, -5px);
    opacity: 1;
    color: #36A9E1;
}
.selected{
    opacity: 1;
}
.menu:hover{
    background-color: black;
    
    
}

.icono{
    width: 3vw;
    vertical-align:middle;
    height: auto;
    border: white 0.2vw solid;
    padding: 0.3vw;
    border-radius: 20%;
    transition: 0.5s all;
    filter: brightness(5);
}

.menu a:hover > .icono{
    filter: brightness();
    border: #36A9E1 0.2vw solid;
}

.titulos{
    text-transform: uppercase;
    font-size: 7vh;
    font-family: 'Tilt Warp', cursive;
    padding: 1px;
    animation: title 1s 1s 1 ease forwards;
    border: solid 8px rgba(0, 0, 0, 0);
    border-style: none solid;
    opacity: 0;
    height: 10vh;
}

.texto{
    font-size: 3vh;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    white-space: pre;
    opacity: 0;
    animation: logo 1s 1.5s ease forwards;
}
.imagenes{
    height: 80vh;
    border-radius: 50px;
    
}
.texto, .titulos{
    margin: 10px 0px;

  
}
.centrar{
    width: 100%;
}
.columnas{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;

 }

.porcentaje{
    width: 100%;
    margin: 10px;

}

.logo{
    animation: logo 1s ease forwards;
    width: 100%;
    margin-top: 10px;
    opacity: 0;
}

.panel{
    width: 100vw;
    flex-shrink: 0;
    height: 100vh;
}
#inicio{
    background-image: url(../recursos/inicio/este.jpg);
    background-size:cover;
    background-position: 0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#about{
    background-color:  #DBDBDB;
    position: relative;
}
#marca{
    background-color: #D5671D;
}

#trabajos{
    background-color: #DBDBDB;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position:relative;
}
#contacto{
    background-color: bisque;
}
#carpetas{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    vertical-align: center;
    margin: auto;
    top: 0px;

    
}
.bajar{
    margin-top: 5px;
    z-index: 90;
    position:absolute;
    top: 0px;
    right: 0px;
}
section  div div  a{
    margin-right: 10px;
    display: block;
    text-decoration: none;
    color: white ;
    font-family: 'Tilt Warp', cursive;
    padding: 10px 20px;
    writing-mode: vertical-lr;
    transition: 0.5s all;
    font-size: 2.5vh;
    /* OPACIDAD DE CADA BOTÃ“N */
    opacity: 0.5;
}
.aqui{
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
}
#espacio, #espacio2, #espacio3{
    height: 10%;
}
#trabajos{
    background-color: #4f287e;
}
#trabajos > div > div > .tres{
    background-color: #4f287e;
}
#trabajos >div > div > .dos{
    background-color: #5b3280;
}
#trabajos >div > div > .fotog{
    background-color: #683c83;
}
#trabajos > div >div > .dibujos{
    background-color: #754887;
}
#trabajos > div >div > .piezas{
    background-color: #82558b;
}
#trabajos > div >div > .edit{
    background-color: #8f628f;
}
#trabajos > div >div > .web{
    background-color: #9c7093;
}

section  div  div  a:hover{
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
    
}
.este{
        border-radius: 0px 30px 30px 0px;
        opacity: 1;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.226);
}
#trabajos .foto{
    width: 40vw;
    height: 40vh;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
    
}
#trabajos #cuarto .foto{
    width: 25vw;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
    background-color: black;
    
}
#trabajos .foto:hover{
    border: #D5671D solid 5px;
    filter: grayscale(0.5) invert(0.1);
    cursor: pointer;
    z-index: 10;
}

iframe{
    border-radius: 10px;
    border: 0px;
    margin: 5px;
}

.betsim2{
    display: none;
}
.betsim1{
    display: block;
}
.vertical{
    width: 239.4px;
    height: 424px;
}
.horizontal{
    height: 424px;
    width: 753px;
}
#septimo a img{
    width: 50vh;
    height: 50vh;
    border-radius: 20px;
    object-fit: cover;
}
#trabajos #septimo a img:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) brightness(0.5); 
    border: none;
    cursor: pointer;
    z-index: 10;

}
#primero, #segundo, #tercero, #cuarto, #quinto, #sexto{
    margin-top: 5px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.animacion{
    animation-duration: 2s; /* DuraciÃ³n de la animaciÃ³n en segundos */
    animation-fill-mode: forwards;
}

.perfil{
    width: 200PX;
    height: auto;
    border-radius: 25px;
}
.perfil2{
    width: 20vw;
    height: auto;
    border-radius: 25px;
}
.hv{
    margin: auto;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.idiomas{
    margin-right: 10px; 
    font-family: 'Tilt Warp', cursive; 
    height: 4vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.letra{
    white-space: pre-line;
    font-family: 'Tilt Warp', cursive;
}
.contador{
    text-align: center;
    width: 18%;
    font-family: 'Tilt Warp', cursive;
    color: #36A9E1;
    animation: color ease-in-out 2s;
    letter-spacing: 3px;
    animation-iteration-count: 2;
}

.junto{
    display: flex;
    width: 100%;
    color: #D5671D;
    font-family: 'Tilt Warp', cursive;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4px;
}   

.app .junto{
    margin-bottom: 10px;
}

.iconitos{
    width: auto;
    margin-right: 10px;
    height: 4vh;
}

.barra{
    
    width: 150px;
    height: 10px;
    background-color: hsla(24, 76%, 47%, 0.268);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.barra::after{
    content: '';
    background-color: #D5671D;
    width: 150px;
    height: 10px;
    border-radius: 10px;
    left: -150px;
    position: absolute;
    animation: llenar ease-in-out forwards 2s;
    
    
}


.barra--60{
    --barra-largo: 60%;
}
.barra--75{
    --barra-largo: 75%;
}
.barra--45{
    --barra-largo: 45%;
}
.barra--55{
    --barra-largo: 55%;
}
.barra--60{
    --barra-largo: 60%;
}
.barra--50{
    --barra-largo: 50%;
}
.barra--80{
    --barra-largo: 80%;
}
.barra--30{
    --barra-largo: 30%;
}
.maintext{
    margin: 20px 0px;
    color: #D5671D;
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 2px;
    font-size: 4vw;
    text-transform: uppercase;
}
.maintext2{
    margin: 20px 0px;
    margin-left: 20px;
    text-align: left;
    color: #D5671D;
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 2px;
}
.parte2{
    padding: 0 20px;
    text-align: center;
    width: 60%;
    top: -10px;
    height: 85%;
}
.parte1{
    width: 20%;
    padding: 0 20px
}


.dim{
    width: 80px;
    height: auto;

}
#esconder{
    display: none;
}
.chiquito{
    white-space: pre-line;
    text-align: left;
    
}
.flex{
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content:flex-start;
}


.tamaño{
    width: 100%;
}

.primero, .segundo, .tercero, .cuarto, .quinto, .edu, .educ, .educa{
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    left: 0px;
    transition: all 1s ease-in-out;
    text-align: left;
    white-space: pre-line;
    border-left: #36A9E1 solid 5px;
    padding-left: 10px;
}
#diploma1:hover .edu{
    display: block;
}
#diploma2:hover .educ{
    display: block;
}
#diploma3:hover .educa{
    display: block;
}
#ulead:hover .primero{
    display: block;
}
#amigoA:hover .segundo{
    display: block;
}
#griky:hover .tercero{
    display: block;
}
#decameron:hover .cuarto{
    display: block;
}
#Beta:hover .quinto{
    display: block;
}
.hovers{
    top: 0;
    margin-top: 0;
    position: relative;
}
.est{
    width: 40vw;
}
.hovers img{
    width: 70px;
    margin-right: 15px;
    margin-top: 20px;
    transform: translate(0%, -50%);
    filter: opacity(50%);
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: #36a8e100 5px solid;
}
.hovers img:hover{
    cursor: pointer;
    transform: scale(1.2) translate(0%, -50%);
    filter: opacity(100%);
    border-bottom: #36A9E1 5px solid;
    border-radius: 0px 0px 10px 10px;
}

/*GALERÃA*/
.container-img{
    width: 89vw;
    margin: auto;
    height: 87vh;
    left: 3%;
    top: 16px;
    border-radius: 15px;
    background-color: hsla(322,100%,11%,0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);
    transition: all 0.7s ease;
    position: absolute;
    z-index: 9000
}
.move{
    transform: translateX(0%)
}
.img-show{
    position: absolute;
    top: 50px;
    width: 75vw;
    height: 70vh;
    object-fit: contain;
}
.copy{
    position: fixed;
    color: aliceblue;
    font-family: "verdana";
    font-style: italic;
    background-color: hsla(0,0%,0%,0.78);
    padding: 1% 25%;
    border-radius: 10px;
    bottom: 20px;
}
.botones{
    display: none;
}
.botonws img{
    height:10vh;
    opacity: 100%;
margin: auto;
}
.botonws img:hover{
    filter: drop-shadow(0 0 5px #00c524);
}
#contacto img{
    margin-bottom: 10px;
}
@keyframes llenar {
    0%{background-color: #D5671D;}
    100%{transform: translateX(var(--barra-largo)); background-color: #36A9E1;}
}

@keyframes color {
    20%{color: #36A9E1; transform: scale(1);}
    40%{color: #000000; transform: scale(1.2);}
    60%{color: #D5671D; transform: scale(1.5);}
    80%{color: #000000; transform: scale(1.2);}
    100%{color: #36A9E1; transform: scale(1);}
    
}
@keyframes title{
    0%{
        display: block;
    }
    5%{
        color: black;
        border: solid 8px rgba(0, 0, 0, 0);
        border-style: none solid;
        font-family: 'Monoton', cursive;
    }
    15%{
        font-family: 'Lobster Two', cursive;
    }
    30%{
        font-family: 'Caveat', cursive;
    }
    45%{
        font-family: 'Tilt Warp', cursive;
    }
    60%{
        font-family: 'Rubik Iso', cursive;
    }
    75%{
        font-family: 'Roboto Slab', serif;
    }
    90%{
        font-family: 'Macondo', cursive;
    }
    100%{
        color: #D5671D;
        border:solid 8px #D5671D;
        border-style: none solid;
        opacity: 1;
    }
}

@keyframes logo {
    0%{
        transform: scale(0.5);
        opacity: 0;
        
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
@media screen and (max-width: 1370px){
    .vertical{
        width: 216.4px;
        height: 385px;
    }
    .horizontal{
        height: 385px;
        width: 687px;
    }
    #sexto{
        width: 95vw;
    }

}
@media screen and (max-width: 1210px){
    .vertical{
        width: 180.4px;
        height: 322px;
    }
    .horizontal{
        height: 322px;
        width: 572px;
    }

}


@media screen and (max-width: 1064px){
    .parte2{
        width: 60%;
        height: 85%;
    }
    .maintext{
        font-size: 6vh;
    }
    .parte1{
        width: auto;
    }
    .hovers img{
        width: 5vw;
        margin-top: 30px;
    }
    .maintext{
        font-size: 6vh;
    }
    .vertical{
        width: 168.3px;
        height: 297px;
    }
    .horizontal{
        height: 297px;
        width: 529px;
    }

}

@media screen and (max-width: 987px) {
    .titulos{
        font-size:5vh;
    }
    .parte2{
        width: 72%;
        height: 87%;
    }
    .barra{
    
        width: 120px;    
    }
    
    .barra::after{
        width: 100px;
        left: -100px;
    }
    .perfil{
        width: 100px;
    }
    .hovers img{
        width: 6vw;
    }
    .vertical{
        height: 351.3px;
        width: 310px;
    }
    .horizontal{
        height: 257px;
        width: 459px;
    }
    #sexto div{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .betsim1{
        display: none;
    }
    .betsim2{
        display: block;
    }
}

@media screen and (max-width: 798px) {
    .hovers img{
        width: 12vw;

    }
    section  div div  a{
    padding: 8px 17px;
    font-size: 2vh;
    }
    .bajar{
    margin-top: 2px;
    }
    .copy{
        width: 90%;
        padding: 2% 2%;
    }

     .menu a{
        display: block;
        margin-left: 0px;
        bottom: 0px;
     }
     header nav.mostrar{
        display: block;
        transition: all 5s ease;
    }
     header nav{
          display: none;
        
     }
     .menu a:hover{
        background-color: rgb(0, 0, 0);
        transform: none;
     }
     .nav-bar{
        display: block;
     }
     .menu:hover{
        background-color:#d5671d;
        
    }
    .icono{
        width: auto;
        height: 5vw;
        border: none;
        padding: 0px;
        border-radius: 20%;
    }
    .menu a:hover > .icono{
        filter: brightness();
        border: none;
    }
    .centrar{
        display: block;
        bottom: 10px;
        width: 100%;
        margin-top: 60%;
    }
    .columnas{
        display:block;
        align-items: end;
        justify-content: end;
        width: 100%;
        height: 100%;
    
     }
     .logo{
        display: none;
     }
    
    .porcentaje{
        width: 100%;
        margin: 50px;
    
    }
     #inicio{
        background-image: url(../recursos/inicio/responsive.jpg);
        background-size:cover;
        background-position: center;

     }
     body{
        text-align: center;
        display: block;
        overflow: hidden;
    }
    .titulos, .imagenes, .texto{
        border-radius: 10px;
        margin: 0px;
        padding: 0px;
        
    }
    .porcentaje{
        width: auto;
    }
    .panel{
        width: 100vw;
        flex-shrink: 0;
        height: 100vh;
    }

    .logo{
       width: 50%;
    }
    .imagenes{
        border-radius: 100%;
        height: 50vh;
        width: 50vh;
        object-fit: cover;
        object-position: 0px 0px;
    }

    #primero, #segundo, #tercero, #cuarto, #quinto, #sexto{
        width: 90vw;
        height: 100vh;
    }
    section  div div  a{
        margin-right: 10px;
        font-size: 2vh;
    }

    #trabajos .foto{
        width: 30vw;
        height: 30vh;
    }
    .panel1{
        flex-direction: column;
    }

    .botones a{
        padding: 5px 50px;
        color: #DBDBDB;
        border-radius: 30px;
        top: 50px;
        text-decoration: none;
    }
    .boton2{
        filter: opacity(1);  
        background-color: #D5671D;
        transition: ease-in-out 0.5s;      
    }

    .flex1{
        display: inline-block;
        height: 65vh;
    }
    .flex1 .flex{
        margin-bottom: 80px;
        height: 20vh;
    }
    .hovers{
        position: relative;
    }
    .hovers p {
        width: 75vw;
        white-space: pre-line;
        
    }
    .laboral p {
        white-space: pre-line;
        width: 90%;
        left: 0px;
        position: relative;
        
    }
    #esconder{
        display: block;
    }
    .ocultar{
        display: none;
    }
    .botones{
        position: absolute;
        margin-top: 20px;
        z-index: 200;
        text-align: center;
        display: flex;
        left: 50%;
        border-radius: 30px;
        transform: translate(-50%, 0);
        background-color: #50287f;
        
    }
    #esconder{
        display: block;
        width: 60vw;
        margin-left: 20px;
    }
    .hv{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .maintext{
        font-size: 3vh;
    }
    .maintext2{
        font-size: 2vh;
        margin-left: 0px;
    }

    .perfil{
        width: 25vw;
    }

    .contador{
        font-size: 1em;
        letter-spacing: 2px;
    }
    .chiquito{
        font-size: 0.9em;
    }

    .barra{
        width: 50px;
        height: 7px;
    
    }

    .iconitos{
        height: 3.5vh;
    }
    
    .barra::after{
        width: 50px;
        height: 7px;
        left: -50px; 
    }
    
    .parte2{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
    }

    .parte1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    #diploma1:hover, #diploma2:hover, #diploma3:hover, #ulead:hover, #amigoA:hover{
        height:120px;
    }
    
    #sexto a img{
        width: 20vh;
        height: 20vh;
        border-radius: 20px;
        object-fit: cover;
    }
    .perfil2{
        width: 30vw;
        height: auto;
        border-radius: 25px;
    }
    .container-img{
        width: 82vw;
        height: 80vh;
    }
    .img-show{
        top: 50px;
        width: 72vw;
        height: 70vh;
    }
    .vertical{
        width: 170.5px;
        height: 303px;
    }
    .horizontal{
        height: 198px;
        width: 352px;
    }


}
@media screen and (max-width: 561px){
    #sexto{
        flex-direction: column;
        display: none
    }
    #cuarto img{
        width: 20vw;

    }
    #primero, #segundo, #tercero, #cuarto, #quinto, #sexto{
        width: 90vw;
        height: 100vh;
    }
    .titulos{
        text-transform: uppercase;
        font-size: 4vh;
        font-family: 'Tilt Warp', cursive;
        padding: 20px;
        animation: title 1s 1s 1 ease forwards;
        border: solid 4px rgba(0, 0, 0, 0);
        border-style: none solid;
        opacity: 0;
        height: 8vh;
    }
    .perfil2{
        width: 30vw;
        height: auto;
        border-radius: 25px;
}
}
